.DS_Store
*.o
.ipynb_checkpoints
__pycache__

# TEMP FOR INITIAL PIPELINE
pipeline/results
pipeline/xml_index
pipeline/temp.h5
pipeline/py_func/linux


calibration/*.yml
laue_indexing.egg-info
laueindexing.egg-info
/build

standard xtals

gdata_backup
sandbox.ipynb
sandbox.py
data/output
.vscode
build
tests/data/output

# Ignore compiled binaries
index_src/euler/euler
index_src/peaksearch/peaksearch
index_src/pixels2qs/pix2qs
laueindexing/bin/*