.DS_Store
*.o
.ipynb_checkpoints
__pycache__

# TEMP FOR INITIAL PIPELINE
pipeline/results
pipeline/xml_index
pipeline/temp.h5
pipeline/py_func/linux


calibration/*.yml
laue_indexing.egg-info
laueanalysis.egg-info
/build

standard xtals

gdata_backup
sandbox.ipynb
sandbox.py
data/output
.vscode
build
tests/data/output

# Ignore compiled binaries for indexing submodule
src/laueanalysis/indexing/src/euler/euler
src/laueanalysis/indexing/src/peaksearch/peaksearch
src/laueanalysis/indexing/src/pixels2qs/pix2qs
src/laueanalysis/indexing/bin/*
!src/laueanalysis/indexing/bin/__init__.py

src/laueanalysis/reconstruct/bin/reconstructN_cpu
src/laueanalysis/reconstruct/source/recon_cpu/bin/*

.svn

# Apple metadata files
._*

# SVN version control files
*.svn-base
*.mine
*.r[0-9]*
tmp/

# Backup files
*.bak
*.backup

sandbox