.DS_Store
*.o
.ipynb_checkpoints
__pycache__

# TEMP FOR INITIAL PIPELINE
pipeline/results
pipeline/xml_index
pipeline/temp.h5
pipeline/py_func/linux


calibration/*.yml
laue_indexing.egg-info
laueanalysis.egg-info
/build

standard xtals

gdata_backup
sandbox.ipynb
sandbox.py
data/output
.vscode
build
tests/data/output

# Ignore compiled binaries
laueanalysis/src/euler/euler
laueanalysis/src/peaksearch/peaksearch
laueanalysis/src/pixels2qs/pix2qs
laueanalysis/bin/*
!laueanalysis/bin/__init__.py